{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "per-file": true,
  "lines": 50,
  "statements": 50,
  "functions": 50,
  "branches": 50,
  "extension": [
    ".js",
    ".ts",
    ".tsx"
  ],
  "include": [
    "src/**/!(*.test.*).[tj]s?(x)",
    "scripts/**/!(*.test.*).[tj]s?(x)"
  ],
  "exclude": [
    "**/*.test.js",
    "**/*.test.ts"
  ],
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "./output/coverage",
  "cache": true,
  "temp-directory": "./temp/nycrc"
}